// Fuentes

$fuentePrincipal: "Edu VIC WA NT Beginner", cursive;

// Colores

$grisOscuro: #373737;
$negro: #000000;
$blanco: #ffffff;
$paleGold: #c0b283;
$silk: #dcd0c0;
$paper: #f4f4f4;
$rosa: #f53756;
$amarillo: #fef46d;
